<a href="https://colab.research.google.com/github/vishwa-2311/Data-Science/blob/Python-Learnings/Decision%20making%20statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
int()

0

In [5]:
int('123')

123

In [6]:
int('asdf')

ValueError: invalid literal for int() with base 10: 'asdf'

In [ ]:
print('hello world')

In [ ]:
print(124)

In [ ]:
print("hello world")

In [ ]:
age=27
print("my age is:",age)

In [ ]:
##f string for formating
print(f"my age is: {age}")

In [ ]:
## .format()
name="vishwa"
age=32
print("my name is {} and age is {}".format(name,age))

In [ ]:
print("my name is {} and age is {}".format(age,name))

In [ ]:
##plceholder
print("my name is {firstname} and my age is {firstage}".format(firstname=name,firstage=age))

In [ ]:
name=" vishwa pratap"
age=27
degree="B.Sc(H) Mathematics"
print("My age is {first} and I have My degree of {second} with the name of {third}".format(first=age, second=degree,third=name))

In [ ]:
print(f"My age is {age} and I have completed my degree {degree} with the name of {name})")

In [ ]:
###Control Flow
###Decision Making statements
"""1.if
2.if else
3.if elif else
4.Nested if
5.Single statement suites"""

In [ ]:
# if statements
age=18
if age>=18:
  print("you are eligible to vote")

In [ ]:
age=17
if age<=18:
  print("you are not eligible to vote")

In [ ]:
input()

In [ ]:
age=int(input())

In [ ]:
age=int(input("enter age"))
if age >=18 and age <=45:
  print("You are young blood")

In [ ]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
  print("You are young blood")
else:
  print("nothing")

In [ ]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
  print("You are young blood")
else:
  print("Thank You, We will let you know")

In [ ]:
productprice=int(input("the product price"))
if productprice>1000:
  print("20% off")
print(productprice)
if productprice<=1000:
  print("30% off")
print(productprice)

In [7]:
product_price=int(input("Enter the Price  "))
if product_price>1000:
  print("The price of the product is {}".format(product_price*0.8))
else:
  print("The price of the product is {}".format(product_price-(product_price*0.3)))

Enter the Price  3000
The price of the product is 2400.0

In [16]:
20/100

0.2

In [17]:
int(0.2*5000)

1000

In [18]:
5000-1000

4000

In [19]:
int((20/100)*2500)

500

In [12]:
product_price=int(input("Enter the pice of Product  "))
if product_price>3000:
  print("The price of the product is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
  print("The price of the product is {}".format(product_price*0.7))
elif product_price >=1000 and product_price <=2000:
  print("The price of the product is {}".format(product_price-(product_price*0.4)))

Enter the pice of Product  4000
The price of the product is 3200.0

In [13]:
product_price=int(input("Enter the pice of Product  "))
if product_price>3000:
  print("The price of the product is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
  print("The price of the product is {}".format(product_price*0.7))
elif product_price >=1000 and product_price <=2000:
  print("The price of the product is {}".format(product_price-(product_price*0.4)))

Enter the pice of Product  2000
The price of the product is 1400.0

In [14]:
product_price=int(input("Enter the pice of Product  "))
if product_price>3000:
  print("The price of the product is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
  print("The price of the product is {}".format(product_price*0.7))
elif product_price >=1000 and product_price <=2000:
  print("The price of the product is {}".format(product_price-(product_price*0.4)))

Enter the pice of Product  1500
The price of the product is 900.0

In [15]:
product_price=int(input("Enter the pice of Product  "))
if product_price>3000:
  print("The price of the product is {}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
  print("The price of the product is {}".format(product_price*0.7))
elif product_price >=1000 and product_price <=2000:
  print("The price of the product is {}".format(product_price-(product_price*0.4)))

Enter the pice of Product  3000
The price of the product is 2100.0

In [22]:
product_price=int(input("Enter the price of the product  "))
if product_price>3000:
  print("the price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
  print("The price of the product is {product_price*0.7}")
else:
  print(f"The price of the product is:", product_price*0.6)

Enter the price of the product  1500
The price of the product is: 900.0

In [24]:
product_price=int(input("Enter the price of the product  "))
if product_price>3000:
  print("The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
  print("The price of the product is {}".format(product_price*0.7))
elif product_price>=1000 and product_price<=2000:
  print(f"The product price is ",product_price*0.6)
else:
  print("You can only have tea that too on credit")

Enter the price of the product  500
You can only have tea that too on credit

In [28]:
product_price=int(input("Enter the price of the product "))
if product_price>=3000:
  print("The price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
  if product_price==2999:
    print("Congratulations, you get an additional gift")
  print("The price of the product is {}".format(product_price*0.7))
elif product_price>=1000 and product_price<=2000:
  print(f"The price of the product is ", {product_price})
else:
  print("The product is out of your range")

Enter the price of the product 2999
Congratulations, you get an additional gift
The price of the product is 2099.2999999999997

In [29]:
##comparision opertor
True==True

True

In [33]:
##single statement suites
val=int(input("Enter the number"))
if(val<=999):print("Value is less than eual to 999")

Enter the number500
Value is less than eual to 999

In [34]:
mulya=int(input("Moolya "))
if(mulya<=1000):print("aukaat k andar wala maal")
else:
  print("jaa be gareeb")

Moolya 1500
jaa be gareeb